# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.cursor
.vscode
.idea

# cli
dist

packages/foundry/lib/forge-std
packages/foundry/lib/openzeppelin-contracts
packages/foundry/lib/solidity-bytes-utils